* {
  box-sizing: border-box;
}

:root {
  --primary-color: #3a243b;
  --secondary-color: #51b848;
  --tertiary-color: #fff7e2;
  --quaternary-color: white;
  --primary-font: "Great Vibes", cursive;
  --secondary-font: "Montserrat", sans-serif;
}

/* Desktop */
.our-team {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 90px;

  /* styling grid for each member element */
  & .member1,
  .member2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    & .member-image {
      width: 100%;
      height: 500px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & article {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > * {
        font-family: var(--secondary-font);
        text-align: center;
      }

      & h3 {
        font-size: 35px;
      }

      & p {
        font-size: 20px;
      }
    }
  }

  & .member2 {
    /* changing order to display image after text */
    & .member-image {
      order: 2;
    }
  }
}

.banner-slogan-about-us {
  position: absolute;
  top: 30%;
  right: 10%;
  transform: translate(-50%, -50%);

  & h3 {
    font-family: var(--primary-font);
    color: var(--tertiary-color);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
}

/* Footer styling */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  margin-top: 50px;
  padding: 30px 50px 20px;

  & .logo-img {
    width: 180px;
  }

  & .business-hours {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    & > * {
      font-family: var(--secondary-font);
      color: var(--secondary-color);
    }

    & h3 {
      margin: 0;
      font-size: 25px;
    }

    & table > * {
      font-size: 20px;
    }
  }

  & .social-icons ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;

    & li a img {
      width: 40px;
    }
  }

  & .newsletter-subscription {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 30%;

    & span {
      color: var(--secondary-color);
      font-size: 45px;
    }

    & input {
      width: 100%;
      border: 1px solid black;
      padding: 12px;
      font-size: 15px;
      color: var(--primary-color);
    }

    & button {
      border: 1px solid var(--secondary-color);
      padding: 10px;
      color: var(--secondary-color);
      background: transparent;
      font-family: var(--secondary-font);
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
    }
  }
}

/* Mobile styling */
@media only screen and (max-width: 600px) {
  .our-team {
    padding: 20px 40px;

    & .member1,
    .member2 {
      grid-template-columns: 1fr;
    }

    & .member2 {
      & .member-image {
        order: 1;
      }

      & article {
        order: 2;
      }
    }
  }

  /* change alignment of banner slogan */
  .banner-slogan-about-us {
    right: 0%;

    & h3 {
      font-size: 30px;
    }
  }
}
