* {
  box-sizing: border-box;
}

:root {
  --primary-color: #3a243b;
  --secondary-color: #51b848;
  --tertiary-color: #fff7e2;
  --quaternary-color: white;
  --primary-font: "Great Vibes", cursive;
  --secondary-font: "Montserrat", sans-serif;
}

/* Desktop */
.our-team {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 90px;
}

/* styling grid for each member element */
.member1,
.member2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

article > * {
  font-family: var(--secondary-font);
  text-align: center;
}

article > h3 {
  font-size: 35px;
}

article > p {
  font-size: 20px;
}

.member-image {
  width: 100%;
  height: 500px;
}

.member-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member2 > .member-image {
  /* changing order to display image after text */
  order: 2;
}

.banner-slogan-about-us {
  position: absolute;
  top: 30%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.banner-slogan-about-us > h3 {
  font-family: var(--primary-font);
  color: var(--tertiary-color);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

/* Mobile styling */
@media only screen and (max-width: 600px) {
  .our-team {
    padding: 20px 40px;
  }

  .member1,
  .member2 {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .member2 > .member-image {
    order: 1;
  }

  .member2 > article {
    order: 2;
  }

  /* change alignment of banner slogan */
  .banner-slogan-about-us {
    right: 0%;
  }

  .banner-slogan-about-us > h3 {
    font-size: 30px;
  }
}
