* {
  box-sizing: border-box;
}

:root {
  --primary-color: #3a243b;
  --secondary-color: #51b848;
  --tertiary-color: #fff7e2;
  --quaternary-color: white;
  --primary-font: "Great Vibes", cursive;
  --secondary-font: "Montserrat", sans-serif;
}

/* Desktop */
.product-list-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  padding: 30px;

  & .product-card {
    width: 100%;
    height: 500px;
    position: relative;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .product-card-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: 0.5s ease;
      transition-property: opacity;
      color: var(--quaternary-color);

      & h3,
      p {
        font-family: var(--secondary-font);
      }
    }

    &:hover {
      .product-card-content {
        opacity: 1;
      }
    }
  }
}

/* Small desktop styling */
@media only screen and (max-width: 1200px) {
  .product-list-wrapper {
    /* show only 3 elements per row */
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet styling */
@media only screen and (max-width: 900px) {
  .product-list-wrapper {
    /* show only 2 elements per row */
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile styling */
@media only screen and (max-width: 600px) {
  .product-list-wrapper {
    /* show only 1 elemtent per row */
    grid-template-columns: 1fr;
  }
}
